.main-content {
    flex: 1 1 auto;
    color: var(--main-color);
    // margin-bottom: 160px;
}
.bread-crumbs {
    color: var(--main-color);
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        // gap: 18px;
		// .bread-crumbs_item

		&_item {
            white-space: nowrap;
            cursor: pointer;
            font-size: 14px;

            @media (max-width: 450px) {
                font-size: 11px;
            }

            &:last-child {
                font-weight: 700;
                cursor: default;
            }

            &:not(:first-child) {
                margin-left: 6px;
                
            }
            &:not(:last-child)::after {
                content: '>';
                margin-left: 6px;
            }
		}
}
.article {
        margin-bottom: clamp(30px, 5vw, 60px);
		// .article__title

		&__title {
            font-size: 42px;
            font-weight: 900;
            margin-bottom: 20px;
            background: var(--background-gradient);
            -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
		}

		// .article__text

		&__text {
            
            font-size: 20px;
            font-weight: 400;
		}
}
.similar-articles {

    &__body {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        // gap: 20px;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        justify-items: center;
        gap: 20px;


        
    }

		// .similar-articles__title

		&__title {
            display: inline-block;
            position: relative;
            font-size: 20px;
            font-weight: 700;
            margin-right: auto;
            padding-bottom: 17px;
            margin-bottom: 30px;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0px;
                width: 44px;
                height: 8px;
                background: var(--background-gradient);
                border-radius: 20px;
            }

            @media (any-hover: hover) {
                &::after {
                    transition: .3s;
                }
                &:hover::after {
                    width: 100%;
                }
            }
		}

		// .similar-articles__item

		&__item {
		}
}
.item-similar {
        width: 100%;
        background-color: var(--background-article);
        min-width: 290px;
        max-width: 387px;
        
        box-shadow: 0px 3px 16px 0px rgba(42,134,229,.08);
        border-radius: 20px;
        overflow: hidden;
        // margin: 0 auto;

        @media (max-width: 768px) {
            min-width: 290px;
        }

        &__body {
            padding: 20px;
            display: flex;
            flex-direction: column;

        }
		// .item-similar__img

		&__img {
            cursor: pointer;
            margin-bottom: 18px;
            border-radius: 20px;
        overflow: hidden;

        & img {
            transition: .3s;
            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
		}

		// .item-similar__title

		&__title {


            text-align: center;
            margin-bottom: 10px;
            color: #2A86E5;
            font-size: 22px;
            font-weight: 700;
            
            transition: .3s;
            @media (any-hover: hover) {
                &:hover {
                    color: #00376e;
                }
            }
		}


		// .item-similar__info

		&__info {
            color: var(--article-info-color);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 22px;
		}

		// .item-similar__user

		&__user {
		}

		// .item-similar__date

		&__date {
		}

        
}
