.app.dark {
    --main-white: #ffffff;
    --main-color: #fff;
    --article-info-color: #fff;
    --background-color: #0E1219;
    --background-article: #202434;
    --background-footer: #202434;
    --background-main: #0E1219;
    --link-color: #0DD0BA;
    --footer-color: #fff;
    --secondary-menu-color: #fff;
    --background-search: #183A5D;
    --color-search: #fff; 
    --hero-menu-icon-color:#fff;
    --background-toggle: #183A5D;
    --button-toggle: #fff;
} 