:root {
    --main-white: #ffffff;
    --main-color: #707070;
    --article-info-color: #B3B3B1;
    --background-color: #ffffff;
    --background-article: #fff;
    --background-footer: #fff;
    --secondary-menu-color: #707070;
    --background-main: #FCFCFC;
    --link-color: #2A86E5;
    --footer-color: #0DD0BA;
    --footer-color-accent: #008d7d;
    --background-search: #EEEEEE;
    --color-search: #757575;
    --hero-menu-icon-color:#707070;
    --background-toggle: #ffffff;
    --button-toggle: #183A5D;
}