.header-main {
   padding-top: var(--header-top-height);
    background-color: var(--background-color);
    height: var(--header-main-height);

    display: flex;
    align-items: center;

   
    // .header-main__container

    &__container {
        
        // padding-top: 31px;
        // padding-bottom: 31px;
        display: flex;
        align-items: center;
        gap: clamp(40px, 2vw, 61px);

        // @media (max-width: 768px) {
        //     padding-top: 21px;
        // padding-bottom: 21px;
        // }
    }

    // .header-main__logo

    &__logo {
        cursor: pointer;
    }

    &__body {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;

        @media (max-width: 768px) {
            position: absolute;
            left: -100%;
            top: var(--header-main-height);
            height: calc(100vh - var(--header-main-height));
            z-index: 100;
            width: 100%;
            background-color: var(--background-color);

            padding: 20px 15px;

            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: stretch;

            transition: left .3s;

            &._opened {
                left: 0;
            }
        }
    }

    // .header-main__menu

    &__menu {
    }

    &__menu-secondary {
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__icon {
        margin-left: auto;
        @media (min-width: 769px) {
            display: none;
        }
    }
}
.logo {
}
.menu-header-main {
    flex: 1 1 auto;
    color: var(--link-color);
    // margin-right: auto;
    // .menu-header-main__items

    &__items {
        display: flex;
        // flex-wrap: wrap;
        align-items: center;
        column-gap: 28px;

        @media (max-width: 870px) {
            column-gap: 20px;
        }
        @media (max-width: 768px) {
            flex-direction: column;
            row-gap: 40px;
        }
        
    }
    &__item {
    }
    &__link {
        position: relative;
        font-weight: 500;

        @media (any-hover: hover) {
            &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 50%;
                width: 0;
                height: 2px;
                background-color: var(--link-color);
                transition: .3s;
            }
            &:hover::after {
                left: 0;
                width: 100%;
            }
        }
    }
}
.search {
    // max-width: 175px;
    height: 42px;
    background-color: var(--background-search);
    
    padding: 10px 10px 10px 20px;
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 40px;
    }
    // .search__input

    &__input {
        flex: 0 1 auto;
        width: 90%;
        color: var(--color-search);
        // max-width: 122px;
        background-color: transparent;

        &::placeholder {
            color: var(--color-search);
        }

        // @media (min-width: 870px) {
        //     width: clamp(20px, 10vw, 148px);
        // }
    }

    // .search__icon

    &__icon {
        flex: 0 0 19px;
        cursor: pointer;
        width: 19px;
        height: 19px;
    }
}
